
<div class="container mt-5">
  <div class="row justify-content-center" style="width:100%">
    <div class="col-lg-9 col-md-10 col-sm-12">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            {{#each images}}
              <div class="col-lg-6 border-info border p-0">
                <img src="{{this}}" alt="" style="width:100%" />
              </div>
            {{/each}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 border border-dark">
              Tên sản phẩm:
              {{product.nameProduct}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 border border-dark">
              Phân loại:
              {{product.nameCategory}}
            </div>
            <div class="col-md-6 border border-dark">
              Loại:
              {{product.nameType}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 border border-dark">
              Giá tiền:
              {{product.price}}đ
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 border border-dark">
              Mô tả:
              {{product.des}}
            </div>
          </div>
          <div class="row border border-dark size-cloth">
            {{#each product.featureSize}}
              <div class="col-md-2">
                {{this}}

              </div>
            {{/each}}
          </div>

          <div class="row">
            <button
              data-toggle="modal"
              data-target="#modalEdit"
              href="/admin/products/{{product.idProduct}}/edit"
              class="btn btn-primary col-md-6"
            >Sửa</button>
            <button
              data-toggle="modal"
              data-target="#modalDelete"
              href="/admin/products/{{product.idProduct}}/delete"
              class="btn btn-danger col-md-6"
            >Xóa</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>

<!-- Modal Edit -->
<div
  class="modal fade"
  id="modalEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SỬA</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn muốn sửa gì ở sản phẩm này?
      </div>
      <div class="modal-footer">
        <a
          type="button"
          class="btn btn-primary"
          href="/admin/products/{{product.idProduct}}?edit=info"
        >Sửa thông tin</a>
        <a
          class="btn btn-primary"
          href="/admin/products/{{product.idProduct}}?edit=imgs"
        >Sửa hình ảnh</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Delete -->
<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">XÓA</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này không?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button type="button" class="btn btn-danger" onclick="handleDelete(`{{product.idProduct}}`)">Xóa</button>
      </div>
    </div>
  </div>
</div>

<script>
  const product =
  {{{json product}}}; console.log (product.nameType); const sizes =
  document.querySelectorAll(".size-cloth input"); sizes.forEach((size) => {
  product.featureSize.forEach((featureSize) => { if (size.value === featureSize)
  { size.checked = true; } }); });

  async function handleDelete (id) {
      const deleteImgs = await fetch ("/admin/delete/imgs-from-product/"+id, {
          method: "DELETE",
      })
      .then (res => res.json())
      .then (data => data);
  
      if (deleteImgs.success = 1) {
          const deleteProduct = await fetch ("/admin/delete/products/"+id, {
              method: "DELETE",
          })
          .then (res => res.json())
          .then (data => data);
  
          if (deleteProduct.success = 1) {
              alert ("Xóa thành công");
              window.location.href = "/admin/products";
          }
      }
  }

  
</script>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
